.contactBody{
    background-image: url("../images/h1.png");
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    height: 100vh;


}



.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.contact-card {
    /* background-color:black; */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
}

.contact-item {
    margin-bottom: 30px;
    color:white;
    font-size: 18px;
}

.contact-item strong {
    color: #007bff;
}

.contact-item a {
    color: #007bff;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}
