 .loginBody {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
     /* background-color: #b64316; */
     background-image: url('../images/h1.png');
     background-size: cover;
     /* or contain */
     background-repeat: no-repeat;
     background-position: center center;
 }

 .login-container {
     color: white;
     display: flex;
     width: 800px;
     height: 400px;
     /* background-color: white; */
     border: 1px solid #ccc;
     border-radius: 10px;
     overflow: hidden;

 }

 .image-section {
     flex: 1;
     background-color: #a39797;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 24px;
     font-weight: bold;
     /* opacity: 0.8; */
 }

 .login-section {
     flex: 1;
     padding: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #711919;
     opacity: 0.8;
 }

 .login-section h2 {
     margin-bottom: 20px;
 }

 .form-group {
     margin-bottom: 10px;
     width: 100%;
 }

 .form-group input {
     width: 100%;
     padding: 10px;
     margin-top: 5px;
     border: 1px solid #ccc;
     border-radius: 5px;
 }

 .login-button {
     padding: 20px 20px;
     border: none;
     border-radius: 5px;
     background-color: #007BFF;
     color: white;
     cursor: pointer;
 }

 .create-account-button {
     padding: 5px 10px;
     border: none;
     border-radius: 5px;
     background-color: #007BFF;
     color: white;
     cursor: pointer;
 }

 .login-section h1,
 .form-group label {
     color: white;
 }